@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..900;1,300..900&display=swap");
@import 'tailwindcss';
@plugin 'lightswind/plugin';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Montserrat", sans-serif;

  /* Primary */
  --color-primary: #1b3b6f;
  --color-primary-dark: #122a52;
  --color-primary-light: #3e5e8f;

  /* Secondary */
  --color-secondary: #a6e1fa;
  --color-secondary-light: #d6f1fc;
  --color-secondary-dark: #6fc3e8;

  /* ==== Neutral ==== */

  /* primary background color */
  --color-bg: #f7fafc;
  --color-bg-stone: #f9f9f9;
  --color-bg-white-blue: #ecf5f9;

  --color-surface: #ffffff;
  --color-border: #e2e8f0;

  /* text */
  --color-text-main: #1a202c;
  --color-text-muted: #64748b;

  /* Status */
  --color-status-success: #22c55e;
  --color-status-warning: #f59e0b;
  --color-status-error: #ef4444;
  --color-status-info: #3b82f6;
  --color-status-active: #38bdf8;
}

/* Base Style Setup */
:root {
  font-family: var(--font-sans);
  background-color: var(--color-bg-app);
  color: var(--color-text-main);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-link-item {
  @apply font-medium text-text-main hover:text-primary hover:underline underline-offset-4 transition-colors duration-200;
}

.btn {
  @apply font-medium cursor-pointer transition-all duration-200 active:scale-[0.98] select-none inline-flex items-center justify-center;
}

.btn-primary {
  @apply text-sm text-white rounded-full bg-primary py-2 px-4 shadow-sm hover:bg-primary-dark hover:shadow-md;
}

.btn-secondary {
  @apply text-sm text-primary rounded-full py-2 px-4 ring-1 ring-inset ring-primary hover:bg-secondary-light/40 hover:ring-primary-dark hover:text-primary-dark;
}
